
<<<<<<< HEAD
.message__text {
=======
.messageBox {
    background: #F3F3F3;
    border-radius: 20px;
    padding: 5px 20px;
    color: white;
    display: inline-block;
    max-width: 80%;
  }
  
  .messageText {
>>>>>>> 09286aeecca0aa502c3f3dbda96c948f5078e279
    width: 100%;
    letter-spacing: 0;
    float: left;
    font-size: 1.1em;
    word-wrap: break-word;
}

.messageText img {
    vertical-align: middle;
}
  
.message__container {
    display: flex;
    justify-content: flex-end;
}

.message__user {
    background-color: rgba(145, 10, 145, 0.993);
    border-radius: 20px;
    padding: 1px 10px 1px;
    color: white;
    margin-left: 10px;
    margin-bottom: 5px;
}

.message__nonUser {
      background-color: rgba(247, 12, 122, 0.993);
      border-radius: 20px;
      padding: 1px 10px 1px;
      color: white;
      margin-right: 10px;
      margin-bottom: 5px;
}
<<<<<<< HEAD
  
.sent__text {
=======
 
  
  .sentText {
>>>>>>> 09286aeecca0aa502c3f3dbda96c948f5078e279
    display: flex;
    align-items: center;
    font-family: Helvetica;
    color: #828282;
    letter-spacing: 0.3px;
}

.justify__start {
    justify-content: flex-start;
}
  
.justify__end {
    justify-content: flex-end;
}
<<<<<<< HEAD
  
=======
  
  
>>>>>>> 09286aeecca0aa502c3f3dbda96c948f5078e279
